<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalTheme</key>
	<dict>
		<key>shouldUnderlineLink</key>
		<false/>
		<key>linkColor</key>
		<string></string>
	</dict>
	<key>pageHeader</key>
	<dict>
		<key>backgroundColor</key>
		<string></string>
		<key>tintColor</key>
		<string></string>
		<key>fontName</key>
		<string></string>
		<key>fontSize</key>
		<integer>0</integer>
		<key>fontTextStyle</key>
		<string></string>
		<key>textColor</key>
		<string></string>
	</dict>
	<key>bannerTheme</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFCCC</string>
		<key>summary</key>
		<dict>
			<key>title</key>
			<dict>
				<key>fontName</key>
				<string>Rockwell</string>
				<key>fontSize</key>
				<integer>16</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
			<key>description</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string>body</string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
		</dict>
		<key>buttons</key>
		<dict>
			<key>closeButtonColor</key>
			<string>#09152B</string>
			<key>acceptAll</key>
			<dict>
				<key>backgroundColor</key>
				<string></string>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textColor</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>borderWidth</key>
				<integer>0</integer>
				<key>borderRadius</key>
				<integer>0</integer>
			</dict>
			<key>rejectAll</key>
			<dict>
				<key>backgroundColor</key>
				<string></string>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textColor</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>borderWidth</key>
				<integer>0</integer>
				<key>borderRadius</key>
				<integer>0</integer>
			</dict>
			<key>showPreferences</key>
			<dict>
				<key>backgroundColor</key>
				<string></string>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textColor</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>borderWidth</key>
				<integer>0</integer>
				<key>borderRadius</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>links</key>
		<dict>
			<key>policyLink</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
			<key>vendorList</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>15</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>preferenceCenterTheme</key>
	<dict>
		<key>backgroundColor</key>
		<string></string>
		<key>lineBreakColor</key>
		<string></string>
		<key>toggleColor</key>
		<string>#30d158</string>
		<key>rightChevronColor</key>
		<string></string>
		<key>showLogoOnPC</key>
		<false/>
		<key>summary</key>
		<dict>
			<key>title</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
			<key>description</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
		</dict>
		<key>purposesTitle</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<integer>0</integer>
			<key>fontTextStyle</key>
			<string></string>
			<key>textAlignment</key>
			<string></string>
			<key>textColor</key>
			<string></string>
		</dict>
		<key>purposesAlwaysActiveStatus</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<integer>0</integer>
			<key>fontTextStyle</key>
			<string></string>
			<key>textAlignment</key>
			<string></string>
			<key>textColor</key>
			<string></string>
		</dict>
		<key>buttons</key>
		<dict>
			<key>acceptAll</key>
			<dict>
				<key>backgroundColor</key>
				<string></string>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textColor</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>borderWidth</key>
				<integer>0</integer>
				<key>borderRadius</key>
				<integer>0</integer>
			</dict>
			<key>rejectAll</key>
			<dict>
				<key>backgroundColor</key>
				<string></string>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textColor</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>borderWidth</key>
				<integer>0</integer>
				<key>borderRadius</key>
				<integer>0</integer>
			</dict>
			<key>confirmMyChoice</key>
			<dict>
				<key>backgroundColor</key>
				<string></string>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textColor</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>borderWidth</key>
				<integer>0</integer>
				<key>borderRadius</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>links</key>
		<dict>
			<key>policyLink</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
			<key>vendorList</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>purposeDetailsTheme</key>
	<dict>
		<key>backgroundColor</key>
		<string></string>
		<key>lineBreakColor</key>
		<string></string>
		<key>toggleColor</key>
		<string></string>
		<key>groupSummary</key>
		<dict>
			<key>title</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
			<key>description</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
		</dict>
		<key>consentTitle</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<integer>0</integer>
			<key>fontTextStyle</key>
			<string></string>
			<key>textAlignment</key>
			<string></string>
			<key>textColor</key>
			<string></string>
		</dict>
		<key>legitInterestTitle</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<integer>0</integer>
			<key>fontTextStyle</key>
			<string></string>
			<key>textAlignment</key>
			<string></string>
			<key>textColor</key>
			<string></string>
		</dict>
		<key>alwaysActiveStatus</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<integer>0</integer>
			<key>fontTextStyle</key>
			<string></string>
			<key>textAlignment</key>
			<string></string>
			<key>textColor</key>
			<string></string>
		</dict>
		<key>links</key>
		<dict>
			<key>sdkList</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
			<key>vendorList</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
			<key>fullLegalText</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>vendorListTheme</key>
	<dict>
		<key>backgroundColor</key>
		<string></string>
		<key>lineBreakColor</key>
		<string></string>
		<key>toggleColor</key>
		<string></string>
		<key>filterOnColor</key>
		<string></string>
		<key>filterOffColor</key>
		<string></string>
		<key>rightChevronColor</key>
		<string></string>
		<key>filterSelectionColor</key>
		<string></string>
		<key>searchBar</key>
		<dict>
			<key>textColor</key>
			<string></string>
			<key>placeholderTextColor</key>
			<string></string>
			<key>backgroundColor</key>
			<string></string>
			<key>iconColor</key>
			<string></string>
			<key>borderColor</key>
			<string></string>
			<key>borderWidth</key>
			<integer>0</integer>
			<key>borderRadius</key>
			<integer>0</integer>
		</dict>
		<key>filterNavText</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<integer>0</integer>
			<key>fontTextStyle</key>
			<string></string>
			<key>textAlignment</key>
			<string></string>
			<key>textColor</key>
			<string></string>
		</dict>
		<key>title</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<integer>0</integer>
			<key>fontTextStyle</key>
			<string></string>
			<key>textAlignment</key>
			<string></string>
			<key>textColor</key>
			<string></string>
		</dict>
		<key>filterItemTitle</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<integer>0</integer>
			<key>fontTextStyle</key>
			<string></string>
			<key>textAlignment</key>
			<string></string>
			<key>textColor</key>
			<string></string>
		</dict>
		<key>buttons</key>
		<dict>
			<key>confirmMyChoices</key>
			<dict>
				<key>backgroundColor</key>
				<string></string>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textColor</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>borderWidth</key>
				<integer>0</integer>
				<key>borderRadius</key>
				<integer>0</integer>
			</dict>
			<key>applyFilter</key>
			<dict>
				<key>backgroundColor</key>
				<string></string>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textColor</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>borderWidth</key>
				<integer>0</integer>
				<key>borderRadius</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>vendorDetailsTheme</key>
	<dict>
		<key>backgroundColor</key>
		<string></string>
		<key>toggleColor</key>
		<string></string>
		<key>title</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<integer>0</integer>
			<key>fontTextStyle</key>
			<string></string>
			<key>textAlignment</key>
			<string></string>
			<key>textColor</key>
			<string></string>
		</dict>
		<key>detailsSummary</key>
		<dict>
			<key>title</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
			<key>description</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
		</dict>
		<key>consentTitle</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<integer>0</integer>
			<key>fontTextStyle</key>
			<string></string>
			<key>textAlignment</key>
			<string></string>
			<key>textColor</key>
			<string></string>
		</dict>
		<key>legitInterestTitle</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<integer>0</integer>
			<key>fontTextStyle</key>
			<string></string>
			<key>textAlignment</key>
			<string></string>
			<key>textColor</key>
			<string></string>
		</dict>
		<key>links</key>
		<dict>
			<key>privacyNotice</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>sdkListTheme</key>
	<dict>
		<key>backgroundColor</key>
		<string></string>
		<key>lineBreakColor</key>
		<string></string>
		<key>filterOnColor</key>
		<string></string>
		<key>filterOffColor</key>
		<string></string>
		<key>searchBar</key>
		<dict>
			<key>textColor</key>
			<string></string>
			<key>placeholderTextColor</key>
			<string></string>
			<key>backgroundColor</key>
			<string></string>
			<key>iconColor</key>
			<string></string>
			<key>borderColor</key>
			<string></string>
			<key>borderWidth</key>
			<integer>0</integer>
			<key>borderRadius</key>
			<integer>0</integer>
		</dict>
		<key>summary</key>
		<dict>
			<key>title</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
			<key>description</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
		</dict>
		<key>filterList</key>
		<dict>
			<key>selectionColor</key>
			<string></string>
			<key>navItem</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
			<key>sdkItem</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
			<key>buttons</key>
			<dict>
				<key>applyFilter</key>
				<dict>
					<key>backgroundColor</key>
					<string></string>
					<key>fontName</key>
					<string></string>
					<key>fontSize</key>
					<integer>0</integer>
					<key>fontTextStyle</key>
					<string></string>
					<key>textColor</key>
					<string></string>
					<key>borderColor</key>
					<string></string>
					<key>borderWidth</key>
					<integer>0</integer>
					<key>borderRadius</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>permissionConsentTheme</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFCCC</string>
		<key>idfaConsentViewText</key>
		<dict>
			<key>giveConsentMode</key>
			<dict>
				<key>summaryTitle</key>
				<string></string>
				<key>summaryDescription</key>
				<string></string>
				<key>consentActionButton</key>
				<string></string>
				<key>cancelActionButton</key>
				<string></string>
			</dict>
			<key>changeConsentMode</key>
			<dict>
				<key>summaryTitle</key>
				<string></string>
				<key>summaryDescription</key>
				<string></string>
				<key>consentActionButton</key>
				<string></string>
				<key>cancelActionButton</key>
				<string></string>
			</dict>
		</dict>
		<key>consentSummaryTheme</key>
		<dict>
			<key>title</key>
			<dict>
				<key>fontName</key>
				<string>Arial-ItalicMT</string>
				<key>fontSize</key>
				<integer>12</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
			<key>description</key>
			<dict>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textAlignment</key>
				<string></string>
				<key>textColor</key>
				<string></string>
			</dict>
		</dict>
		<key>buttonsTheme</key>
		<dict>
			<key>giveConsent</key>
			<dict>
				<key>backgroundColor</key>
				<string>#A0C016</string>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textColor</key>
				<string></string>
				<key>borderColor</key>
				<string>#000000</string>
				<key>borderWidth</key>
				<integer>2</integer>
				<key>borderRadius</key>
				<integer>25</integer>
			</dict>
			<key>cancelConsent</key>
			<dict>
				<key>backgroundColor</key>
				<string></string>
				<key>fontName</key>
				<string></string>
				<key>fontSize</key>
				<integer>0</integer>
				<key>fontTextStyle</key>
				<string></string>
				<key>textColor</key>
				<string></string>
				<key>borderColor</key>
				<string></string>
				<key>borderWidth</key>
				<integer>0</integer>
				<key>borderRadius</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
